<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <add key="AppType" value="Web" />
        <add key="Browser" value="Chrome" />
        <add key="OS" value="Win" />
        <add key="DeviceName" value="e42bceae" />
        <add key="DeviceOSVersion" value="5.1.1"/>
        <add key="AppPackage" value="com.siri.budgetdemo"/>
        <add key="AppActivity" value="com.siri.budgetdemo.Home"/>
        <add key="AppiumURL" value="http://localhost:4723/wd/hub"/>
        <add key="Environment" value="QA"/>
        <add key="NodeBinaryPath" value="C:\Program Files\nodejs\node.exe"/>
       <add key="AppiumBinaryPath" value="C:\Users\admin\AppData\Roaming\npm\node_modules\appium\build\lib\main.js"/>
  </appSettings>
 </configuration>
